{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ note.author.username }}</a>
            <small class="text-muted">{{ note.date_posted.strftime('%Y-%m-%d') }}</small>

        </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="article-title">{{ note.title }}</h2>
                    </div>
                    <div class="col-md-6">
                        {% if questions %}
                            <a href="{{ url_for('note', note_id=note.id)}}" class="btn btn-primary btn-sm mt-1 mb-1">View Note</a>
                        {% elif note %}
                            <a href="{{ url_for('questions', note_id=note.id)}}" class="btn btn-primary btn-sm mt-1 mb-1">Review</a>
                        {% endif %}
                        <a href="{{ url_for('update_note', note_id=note.id)}}" class="btn btn-info btn-sm mt-1 mb-1">Update</a>
                        <button class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>    
                </div>
                    {% if questions %}
                        <ul>
                            {% for question in questions %}
                                <li>{{ question }}</li>
                            {% endfor %}
                        </ul>
                    {% elif note %}
                        <p class="article-content">{{ note.content }}</p>
                    {% endif %}
            </div>
            
            
            
        </div>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Note?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_note', note_id=note.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
            </div>
        </div>
    </div>

{% endblock content %}

